:root {
  --dark-100: #0f0f0f;
  --dark-200: #1a1a1a;
  --dark-300: #242424;
  --dark-400: #2e2e2e;
  --dark-500: #3a3a3a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--dark-300);
  color: white;
}
