.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-500);
  border: solid 1px var(--dark-200);
  border-radius: 500px;
  padding: 10px;
  width: 100%;
  height: px;
  font-weight: bold;
  cursor: pointer;
  transition: border 0.2s ease, background-color 0.2s ease;

  &:hover {
    background-color: var(--dark-300);
  }

  &:focus {
    outline: none;
    border: solid 1px white;
  }
}

button {
  background-color: transparent;
  border: none;
  color: white;
}